a {
    text-decoration: none;
    color:bisque;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    width: 250px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.button.people.active {
    background-color: #9e507ca6;
}

.button.people.inactive {
    background-color: #9d507e80;
}

.button.people.active:hover {
    background-color: #9e507dff;
}

.button.stages.active, .button.game.active{
    background-color: #3e5ca580;
}

.button.stages.inactive, .button.game.inactive{
    background-color: #3c5ba44c;
}

.button.stages.active:hover, .button.game.active:hover{
    background-color: #3d5ba6ff;
}

#menu {
    position: absolute;
    border-style: solid;
    width: 400px;
    height: 900px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 900px;
    height: 900px;
    border-style: solid;
}

.level, .persona{
    margin:auto;
    text-align: left;
    position: relative;
    width: 350px;
    height: 350px;
    border-style: solid;
    font-size: 18px;
    padding-left: 10px;
    overflow-wrap:break-word;
    overflow-y: auto;
}

.settings {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    width: 250px;
    height: 100px;
    margin-left: px;
}

.level {
    background-color: #3c5ba44c;
}

.persona {
    background-color: #9d507e80;
}

.persona:hover {
    background-color: #9e507ca6;
}

.level:hover {
    background-color: #3e5ca580;
}

.persona.unselected,  .level.unselected {
    font-weight: normal;
}

.persona:hover, .level:hover, .persona.selected, .level.selected {
    font-weight: bold;
}

.disclaimer {
    background-color: #dfc023a6;
}

.disclaimer:hover {
    background-color: #dec023ff;
}