a {
    text-decoration: none;
    color: #000;
}

body {
    text-align: center;
    font-family:fantasy;
    background-color: #ddd;
    color: #444;
}

.button {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    width: 250px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.button.people.active {
    background-color: #9e507ca6;
}

.button.people.inactive {
    background-color: #9d507e80;
}

.button.people.active:hover {
    background-color: #9e507dff;
}

.button.stages.active, .button.game.active{
    background-color: #3e5ca580;
}

.button.stages.inactive, .button.game.inactive{
    background-color: #3c5ba44c;
}

.button.stages.active:hover, .button.game.active:hover{
    background-color: #3d5ba6ff;
}

#buttonWrap {
    margin-left: auto;
    margin-right: auto;
    width: 633px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

#detail {
    position: relative;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 25px;
    font-size: 66%;
    text-align: justify;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#detail::-webkit-scrollbar {
    display: none;
  }

#menu {
    position: absolute;
    border-style: none;
    width: 400px;
    height: 900px;
}

#return {
    margin-left: 0px;
}

#confirm {
    margin-right: 0px;
}

#selection {
    width: 900px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 900px;
    height: 900px;
    border-style: solid;
}

.level, .persona{
    text-align: center;
    position: relative;
    width: 25%;
    height: 100px;
    border-style: none;
    border-width: 3px;
    border-radius: 25px;
    font-size: 30px;
    overflow-wrap:break-word;
}

.settingsStart, .settingsDis, .settingsPers, .settingsLevel {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 40px;
    width: 400px;
    height: 100px;
    color: #000;
}

.settingsStart {
    background-color: #444;
}

.settingsStart:hover {
    background-color: #222;
}

.setLinksStart, .setLinksDis, .setLinksPers, .setLinksLevel{
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 40px;
    width: 400px;
    height: 100px;
    color: #000;
}

.setLinksStart {
    background-color: #666;
}

.setLinksStart:hover {
    background-color: #444;
}

.level, .setLinksLevel {
    background-color: #3c5ba44c;
}

.persona, .setLinksPers {
    background-color: #9d507e80;
}

.persona:hover, .setLinksPers:hover, .settingsPers {
    background-color: #9e507ca6;
}

.level:hover, .setLinksLevel:hover, .settingsLevel {
    background-color: #3e5ca580;
}

.persona.unselected,  .level.unselected {
    font-weight: normal;
}

.persona:hover, .level:hover, .persona.selected, .level.selected {
    font-weight: bold;
}

.disclaimer, .setLinksDis, .settingsDis {
    background-color: #dfc023a6;
}

.disclaimer:hover, .setLinksDis:hover {
    background-color: #dec023ff;
}

